@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@100;200;300;400;500&display=swap");

$font_stack: "Poppins", sans-serif;
$font_secondary: "Inter", sans-serif;
$font_size_primary: 16px;

$max_width: 1200px;
